<!--
  <div class="gridSideNav">
      {% for itm in sortedCollection %}
      {% if itm.title and itm.title != "" %}
        {% if itm.path and itm.path != "" %}
        <button class="accordion">{{ itm.title }}</button>
        <div class="panel" id="{{ itm.title }}_panel">
        {% for gdoc in site[itm.label] %}
        <br>
        <a href="{{ gdoc.url | relative_url }}">{{ gdoc.title }}</a>
        {% endfor %}
        </div>
        {% else %}
        <a href="{{ site.url | relative_url }}"  style="text-decoration: none;" class="linkBtn">{{ itm.title }}</a>
        {% endif %}
      {% endif %}
      {% endfor %}
  </div>
-->
<div>
{% assign homeBtn = site.collections | where_exp: "site.collections", "title" | sort: 'sequence' | first %}
<a href="{{ site.url | relative_url }}"  class="linkBtn">{{ homeBtn.title }}</a>
<div id="accordion">
  {% for itm in sortedCollection %}
  {% if itm.title and itm.title != "" %}
    {% if itm.path and itm.path != "" %}
      <h3>{{ itm.title }}</h3>
      <div>
      {% for gdoc in site[itm.label] %}
        <br>
        <a href="{{ gdoc.url | relative_url }}">{{ gdoc.title }}</a>
      {% endfor %}
      </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>
</div>