<div>
{% assign homeBtn = site.collections | where_exp: "site.collections", "title" | sort: 'sequence' | first %}
<a href="{{ site.url | relative_url }}"  class="linkBtn">{{ homeBtn.title }}</a>
<div id="accordion">
  {% for itm in sortedCollection %}
  {% if itm.title and itm.title != "" %}
    {% if itm.path and itm.path != "" %}
      <h3>{{ itm.title }}</h3>
      <div>
      {% for gdoc in site[itm.label] %}
        <br>
        <a href="{{ gdoc.url | relative_url }}">{{ gdoc.title }}</a>
      {% endfor %}
      </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>
</div>